dist: trusty
sudo: false

language: node_js
node_js:
  - "10"

addons:
  chrome: stable

cache:
  directories:
     - ./node_modules

install:
  - npm install -g angular-cli

before_script:
  - cd demo/ionic-dev/greenpeace
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

script:
  - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
  # - npm run e2e -- --protractor-config=e2e/protractor-ci.conf.js